.Feed {
  width: 100%;
  margin-top: 10px;
  background-color: white;
}

.info {
  display: flex;
  flex-direction: column;
}

.info h3 {
  font-size: 18px;
  font-family: heebomedium;
  line-height: 27px;
}

.info span {
  font-size: 12px;
  font-family: heebolight;
  color: #414141;
}

.info span > span {
  margin-left: 10.5px;
}

.info img {
  width: 12px;
  vertical-align: top;
}

.Header {
  padding: 10px;
}

.Header > div {
  width: 100%;
  display: flex;
  height: 52px;
  align-items: center;
}

.Header > div > img:first-of-type {
  width: 52px;
  height: 52px;
  border: 0.3px solid rgb(112, 112, 112);
  border-radius: 50%;
  margin-right: 25px;
}

.Header > div > img:last-of-type {
  width: 16px;
  margin-left: auto;
  margin-bottom: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 13px 20px;
  font-size: 15px;
  color: #414141;
}

.footer .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer .top > div > span:last-of-type {
  margin-left: 23.5px;
}

.mark {
  font-size: 10px;
  font-family: heebolight;
  color: #a8a8a8;
}

.likeCount {
  font-size: 29px;
  color: #414141;
  font-family: heebobold;
}

.footer .bottom {
  margin-top: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer .bottom button {
  margin-left: 25px;
  background: none;
  border: none;
  outline: none;
}

.footer .bottom img {
  width: 20px;
}

.contentText,
.contentVideo,
.contentImage {
  height: 348px;
  width: 100%;
}

.contentText {
  padding: 50px 19px;
  text-align: center;
  background: url("../../images/post-background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.contentText h2 {
  font-size: 34px;
  font-family: Satisfy, cursive;
  margin-bottom: 14px;
  line-height: 50px;
}

.contentVideo video,
.contentImage img,
.contentImageAd img,
.contentImageText img {
  object-fit: cover;
  width: 100%;
  height: 348px;
  border-radius: 1px;
}

.description {
  width: 100%;
  padding: 9px;
  color: rgba(62, 62, 62, 1);
  font-family: heebolight;
  font-size: 14px;
  line-height: 21px;
}

.contentImageAd .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentImageAd .heading p {
  font-family: heebobold;
  line-height: 22px;
  font-size: 16px;
}

.contentImageAd span {
  font-size: 13px;
}

.contentImageAd button {
  font-size: 12px;
  color: rgba(62, 62, 62, 1);
  line-height: 18px;
  font-family: heebomedium;
  padding: 7px 15px;
  flex-shrink: 0;
  margin-left: 11px;
  border: 1px solid rgba(112, 112, 112, 1);
  border-radius: 3px;
}

.contentImageText .description,
.contentVideo .description {
  overflow: hidden;
  position: relative;
  height: 6.7em;
}

.contentImageText .description:after,
.contentVideo .description:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 50%
  );
}

.FeedOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 1001;
  color: white;
}

.FeedOverlay .contentImageText .description:after {
  content: "...";
  background: none;
  right: 10px;
  bottom: 5px;
}

.FeedOverlay .info span {
  color: #888888;
}

.FeedOverlay .footer,
.FeedOverlay .mark,
.FeedOverlay .likeCount,
.FeedOverlay .description {
  color: white;
}

.FeedOverlay .bottom button {
  padding: 7px;
  background-color: white;
  border-radius: 50%;
  width: 41px;
  height: 41px;
}

.FeedOverlay .bottom button img {
  vertical-align: middle;
}

.FeedOverlay .contentVideo video,
.FeedOverlay .contentImage img,
.FeedOverlay .contentImageAd img,
.FeedOverlay .contentImageText img {
  height: 378px;
}

.FeedOverlay .Header > div > img {
  width: 52px;
  margin-left: unset;
  margin-bottom: unset;
}

.FeedOverlay .Header svg {
  fill: white;
  width: 16px;
  height: 16px;
  margin-left: auto;
  margin-bottom: 15px;
}

.contentVideo {
  position: relative;
}

.playIcon {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  width: 70px;
  background-color: white;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
