.control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control p {
  font-family: "heebomedium";
  font-size: 10px;
  line-height: 14px;
  color: #3a3a3a;
  margin-top: 5px;
}

.control button img {
  width: 60%;
  vertical-align: middle;
}

.control button {
  width: 46px;
  background-color: #ebedf0;
  border-radius: 50%;
  height: 46px;
  padding: 0;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 32px;
}

.PersonInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
  margin-top: 65px;
}

.PersonInfo h4 {
  font-size: 34px;
  line-height: 50px;
  font-family: "heebomedium";
  margin-top: 11px;
  color: #3a3a3a;
}

.PersonInfo p {
  color: #3a3a3a;
  font-size: 15px;
  line-height: 22px;
}

.UserProfile {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 59px;
  background: white;
  overflow-y: scroll;
}

.close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 20px;
}
