.HeritageHeader {
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding: 5px 10px;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.HeritageHeader img {
  width: 30px;
}

.HeritageHeader a:nth-of-type(2) img {
  width: 100px;
}

@media (min-width: 768px) {
  .HeritageHeader {
    /* margin-left: 26%; */
    /* margin-right: 37%; */
    box-shadow: unset;
    border: 1px solid #e6ecf0;
    border-left: none;
    border-right: none;
    font-size: 18px;
    font-family: Heeboextrabold;
    position: -webkit-sticky;
    position: sticky;
  }
}
