.Feeds {
  background-color: #dcdee3;
}

.Feeds > div:last-child {
  margin-bottom: 59px;
}

.uploadOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 1001;
  margin-bottom: 0 !important;
  overflow-y: scroll;
}

.uploadOverlay .header {
  display: flex;
  font-size: 20px;
  line-height: 29px;
  padding: 18px 11px;
  font-family: heebobold;
  justify-content: space-between;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.active {
  font-family: heebobold;
  color: black;
}

.canvas {
  width: 100%;
  height: 310px;
  position: relative;
}

.canvas img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.filter {
  filter: blur(2px);
}

.canvas textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  text-align: center;
  font-size: 33px;
  line-height: 49px;
  color: rgba(249, 249, 249, 1);
  text-shadow: 0 3px 6px rgba(0, 0, 0, 1);
  outline: none;
  border: 0;
  padding: 20px 0;
  font-family: heebolight;
}

.canvas textarea::placeholder {
  color: rgba(249, 249, 249, 0.418);
  padding-top: 90px;
}

.uploadOverlay .footer {
  display: flex;
  flex-direction: column;
  padding-left: 13px;
}

.uploadOverlay .footer .backgroundType {
  display: flex;
  justify-content: space-between;
  padding: 15px 43px 13px 30px;
  font-size: 15px;
  line-height: 22px;
  color: #888888;
}

.uploadOverlay .backgrounds {
  display: flex;
  overflow-x: scroll;
}

.uploadOverlay .backgrounds img {
  width: 97px;
  height: 97px;
  object-fit: cover;
  margin-right: 20px;
  flex-shrink: 0;
}

.uploadType {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #3a3a3a;
  font-family: heebobold;
  font-size: 13px;
  line-height: 19px;
  padding-right: 13px;
  margin-top: 13px;
  height: 107px;
  width: 100%;
}

.uploadType > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(64px + 19px);
}

.uploadType > div img {
  width: 50px;
  margin-bottom: 5px;
}

.uploadOverlay .next {
  display: flex;
  justify-content: flex-end;
  color: #518ca2;
  font-family: heebomedium;
  font-size: 17px;
  line-height: 25px;
  margin-right: 16px;
  margin-top: 10px;
  margin-bottom: 9px;
}

.canvas video {
  object-fit: cover;
  width: 100%;
  height: 348px;
  border-radius: 1px;
}

.location img {
  width: 15px;
  margin-right: 5px;
  vertical-align: middle;
}

.footer textarea {
  box-shadow: 0 1px 1px rgba(245, 245, 245, 1);
  outline: none;
  border: 0;
  width: 100%;
  height: 67px;
  font-family: heeboregular;
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 24px;
}

.footer textarea::placeholder {
  font-family: heebolight;
  font-size: 13px;
  line-height: 19px;
}

.nextOverlay .footer {
  display: flex;
  flex-direction: column;
  padding: 13px;
}

.tagBox button,
.locations span {
  color: rgba(58, 58, 58, 1);
  line-height: 19px;
  font-family: heebobold;
  font-size: 13px;
  padding: 0 13px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
}

.tagBox button {
  margin-right: 8px;
}
.tagBox {
  display: flex;
  color: rgba(0, 0, 0, 1);
  font-size: 13px;
  line-height: 19px;
  font-family: heebomedium;
  margin-bottom: 18px;
  align-items: center;
}

.location {
  display: flex;
  font-size: 11px;
  align-items: center;
  color: rgba(136, 136, 136, 1);
  line-height: 17px;
}

.locations span {
  font-size: 12px;
  line-height: 18px;
  margin-left: 11px;
  padding: 0 12px;
}

.nextOverlay .footer > button {
  position: absolute;
  bottom: 16px;
  align-self: flex-end;
  background-color: rgba(81, 140, 162, 1);
  font-size: 18px;
  color: white;
  outline: none;
  line-height: 27px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-family: heebomedium;
  padding: 4px 19px;
  border: 0;
}
