.DateMatchItem {
  width: 201px;
  height: 280px;
  margin-right: 18px;
}

.DateMatchItem .image {
  width: 201px;
  height: 234px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
}

.DateMatchItem h5 {
  font-size: 15px;
  line-height: 22px;
  font-family: heebomedium;
}

.DateMatchItem h6 {
  font-size: 10px;
  font-family: heebolight;
  line-height: 14px;
}
