.ExploreCardList {
  background: rgba(219, 219, 219, 1);
  overflow-y: scroll;
  margin-top: 101px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .ExploreCardList {
    padding: 20px;
    background-color: white;
  }
}