.chart {
  background: url("https://images.pexels.com/photos/34501/grove-of-trees-away-mood-landscape.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-position: center;
  padding: 18px 5px 59px;
}

.header {
  display: flex;
  justify-items: space-between;
  align-items: center;
  padding: 16px 13px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.35);
  background-color: white;
}

.header > img {
  width: 29px;
  margin-left: 18px;
}

.uploadCrest h1 {
  color: #1c1e21;
  font-size: 43px;
  text-align: center;
  line-height: 55px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  flex-shrink: 0;
  font-family: heebobold, sans-serif;
}

.body {
  color: rgba(28, 30, 33, 1);
  line-height: 32px;
  font-size: 14px;
  font-family: "heeboregular", sans-serif;
  text-align: center;
}

.uploadCrest {
  width: 100vw;
  padding: 24px 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 39px;
  background-color: white;
  z-index: 1;
}

.controls {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.controls button {
  color: rgba(28, 30, 33, 1);
  font-size: 14px;
  font-family: "heebomedium";
  line-height: 32px;
  background-color: rgba(81, 140, 162, 1);
  border: 1px solid rgba(41, 41, 41, 1);
  border-radius: 3px;
}

.uploadCrest > img {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 20px;
}

.treeSettings {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: 100vh;
}

.setting label {
  display: flex;
  justify-content: space-between;
}

.setting {
  font-size: 14px;
  padding: 18px 15px 18px 31px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}

.setting label span {
  line-height: 21px;
  font-family: heebobold;
}

.setting p {
  line-height: 18px;
  margin-top: 10px;
  padding-right: 39px;
}
