.DateMatchList {
  padding: 12px;
  background-color: white;
  margin-top: 10px;
}

.DateMatchList h4 {
  text-transform: capitalize;
  font-family: heebobold;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 14px;
}

.DateMatchList :global(.simplebar-content)  {
  display: flex;
}

@media (min-width: 768px) {
  .DateMatchList {
    padding: 20px;
  }

  .DateMatchList h4 {
    font-family: heeboextrabold;
    font-size: 18px;
  }

}