.Drawer {
  display: flex;
  padding: 7px 20px;
  justify-content: space-between;
  font-size: 10px;
  color: rgba(100, 100, 100, 1);
  height: 59px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.19);
}

.Drawer a {
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.Drawer svg {
  width: 25px;
  fill: #646464;
}

.Drawer :global(.active) h6 {
  color: #000;
  font-family: heeboextrabold;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.Drawer :global(.active) svg {
  filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.4));
  fill: #000;
}

.feed {
  width: 30px !important;
}
