.Likes {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding-bottom: 59px;
  z-index: 1003;
}

.Likes .header {
  display: flex;
  padding: 7px 15px;
  justify-content: space-between;
  font-size: 23px;
  font-family: heeboregular;
  line-height: 34px;
  align-items: center;
  color: rgba(58, 58, 58, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.Likes > div:nth-child(2) > div:first-child,
.Likes > div:nth-child(2) {
  padding-top: unset;
}
