.ExploreCard {
  background-size: cover;
  background-position: center;
  color: white;
  width: 175px;
  height: 180px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  border: 1px solid rgba(242, 242, 242, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
  float: left;
  margin-left: 4px;
  margin-top: 4px;
}

.ExploreCard:last-child {
  margin-bottom: 60px;
}

.ExploreCard svg {
  fill: white;
  width: 12px;
  -webkit-filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.7));
  margin-left: 3px;
  margin-right: 3px;
}

.ExploreCard > div:first-child {
  display: flex;
  align-items: center;
}

.ExploreCard > div:first-child img {
  width: 26px;
  height: 26px;
  border: 1px solid rgba(242, 242, 242, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 50%;
  margin-right: 5px;
}

.ExploreCard > div:first-child p {
  font-size: 12px;
  font-family: heebolight;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ExploreCard > div:last-child {
  display: flex;
  align-items: center;
}

.ExploreCard > div:last-child span {
  font-size: 9px;
  font-family: heebolight;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
