.Comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding-bottom: 59px;
  z-index: 1003;
}

.Comments .header {
  display: flex;
  padding: 7px 15px;
  justify-content: space-between;
  font-size: 23px;
  font-family: heeboregular;
  line-height: 34px;
  align-items: center;
  color: rgba(58, 58, 58, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.addComment {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  height: 40px;
  padding: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.addComment textarea {
  border-radius: 20px;
  background-color: #f5f6f6;
  border: none;
  padding: 10px 15px 0;
  outline: none;
  flex-grow: 1;
}

.addComment > div {
  position: absolute;
  right: 25px;
  margin-top: 5px;
}

.addComment > div img {
  margin-left: 16px;
}

@media (min-width: 768px) {
  .CommentsWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2% 33% 13% 33%;
    z-index: 1003;
  }

  .backdrop {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .Comments {
    position: static;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 1;
    position: relative;
    padding: 0;
  }

  .Comments .header img {
    cursor: pointer;
  }

  .addComment {
    height: 120px;
  }

  .addComment textarea {
    height: 90px;
  }
}