.About {
  padding: 31px;
}

.stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #707070;
  font-size: 13px;
}

.stats > div p:last-child {
  font-size: 22px;
  font-family: heebobold;
  line-height: 32px;
  color: #3a3a3a;
}

.divider {
  width: 2px;
  background: #707070;
  margin-bottom: 5px;
}

.biography {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sectionHeader h3 {
  font-size: 20px;
  line-height: 29px;
  color: #3a3a3a;
  font-family: heebomedium;
}

.sectionHeader a {
  text-decoration: none;
  color: #4f91c4;
  font-size: 15px;
}

.biography > p {
  background: #ebedf0;
  border-radius: 10px;
  padding: 17px 41px;
  text-align: center;
  font-size: 11px;
  font-family: heebolight;
  margin-top: 13px;
  line-height: 17px;
}

.masonry {
  display: flex;
  flex-flow: row wrap;
  margin-left: -4px;
  margin-top: 8px;
  margin-bottom: 30px;
  width: 100%;
}

.masonryBrick {
  flex: auto;
  height: 95px;
  width: 91px;
  margin: 0 8px 8px 0;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 0 8px 8px;
  background-color: #333;
  color: white;
  position: relative;
}

.masonryImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.Memories > div:last-child {
  margin-top: 10px;
  display: flex;
  overflow-x: scroll;
  margin-bottom: 30px;
}

.Memories > div:last-child figure {
  flex-shrink: 0;
}

.Memories > div:last-child img {
  width: 161px;
  height: 206px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.events,
.members {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-bottom: 30px;
}

.events svg {
  width: 90px;
  fill: #518ca2;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.3));
}

.events > div,
.members > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 161px;
  flex-shrink: 0;
  height: 206px;
  text-align: center;
  padding: 12px;
  color: rgba(28, 30, 33, 1);
  background-color: rgba(235, 237, 240, 1);
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 10px;
}

.events > div p {
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 14px;
  line-height: 21px;
  font-family: heebomedium;
  margin: 10px 0;
}

.events > div small {
  font-size: 9px;
  font-family: heebolight;
}

.events > div img {
  width: 13px;
  margin-bottom: 3px;
  align-self: flex-end;
}

.members > div img {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  margin-bottom: 11px;
  margin-top: 8px;
}

.members > div {
  color: rgba(28, 30, 33, 1);
}

.members > div p:first-of-type {
  font-family: heebobold;
  font-size: 20px;
  line-height: 29px;
}

.members > div p:last-of-type {
  font-size: 15px;
}
