.Profile {
  padding-bottom: 59px;
}

.Header {
  height: 313px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 1px 2px -2px gray;
  position: relative;
  background-size: cover;
  background-position: center;
}

.Top {
  padding: 41px 13px 0 92px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.5));
  color: white;
  align-items: center;
}

.Top h4 {
  font-size: 18px;
  line-height: 27px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.Bottom {
  font-size: 15px;
  color: rgba(136, 136, 136, 1);
  font-family: heebolight;
  padding: 11px 13px 11px 92px;
  background-color: white;
}

.Bottom ul {
  display: flex;
  justify-content: space-between;
}

.Header > img {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 3px solid #fff;
  left: 11px;
  bottom: 11px;
  border-radius: 50%;
}

.Top button {
  background: transparent;
  color: white;
  font-size: 11px;
  outline: none;
  border: 0.5px solid white;
  padding: 3px 5px;
  margin-top: 10px;
}
